html,
body,
#App,
#App > div {
	height: 100%;
}

.navbar {
	background: #398798;
}

.App {
	color: white;
	background: rgb(227, 222, 215);
	background: linear-gradient(
		to left top,
		rgba(227, 222, 215, 1) 0%,
		rgba(57, 135, 152, 1) 50%
	);
	min-width: 100%;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}
