html,
body,
#App,
#App > div {
	height: 100%;
}

.App {
	color: white;
	/*background: rgb(227, 222, 215);
	background: linear-gradient(
		190deg,
		rgba(227, 222, 215, 1) 18%,
		rgba(0, 0, 0, 1) 54%
	);*/
	background: rgb(0, 0, 0);

	min-width: 100%;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-indent: 20px;
}

h1 {
	font-family: 'Calistoga', cursive;
}

/*-------NAVIGATION COMPONENT---------*/
.navbar {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 1%,
		rgba(255, 255, 255, 0.7875525210084033) 20%
	);
}

.header_link {
	font-family: 'Calistoga', cursive;
	text-decoration: none;
	color: black;
	font-size: large;
}

.header_link:hover {
	color: rgb(226, 89, 39);
}

/* ------- HOME PAGE --------*/
.home-links {
	margin: 3rem;
	cursor: pointer;
	font-family: 'Calistoga', cursive;
}

.home-links:hover {
	color: rgb(226, 89, 39);
}

/* ---------ABOUT PAGE----------- */
.word {
	color: rgb(226, 89, 39);
	font-size: 1.4em;
	font-family: 'Calistoga', cursive;
}

.line_spacing {
	line-height: 2em;
}

.about_link {
	text-decoration: none;
	color: white;
	font-size: 1.4em;
	font-family: 'Calistoga', cursive;
}

.about_link:active {
	text-decoration: none;
	color: rgb(226, 89, 39);
}

/* ------ PROJECT PAGE --------*/
